/*my page*/
html {
    box-sizing: border-box; 
}
*, 
*::before,  
*::after {
    box-sizing: inherit;
}

body{
    font-family: "Open Sans" "Roboto";
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
}
.page-header {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* navigation menu*/
.logo {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    color: #cccccc ;
}
.logo::first-letter {
    color: #1abc9c;
}
.site-navigation {
    float: right;
    width: 490px;
    margin: 0;
    padding: 0;  
    list-style: none;
    vertical-align: middle;
    line-height: 36px;
}
.site-navigation li {
    float: left;
    color: #000000;
}
.site-navigation li:not(:last-child){
   margin-right: 34px; 
}
.link {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.site-navigation a:hover, 
.site-navigation a:focus {
    color: #29b0f5;
}
.image {
    background-image: url(../img/slide4.png);
    background-size: cover;
    width: 1600px;
    height: 600px;
}

.image {
    position: relative;
    width: 100%;
}
h1 {
    position: absolute;
    width: 100%;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}
.collection {
    background-color: #e9f0fd;
    text-align: center;
}
.title {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 100px;
}



.featured-list-item {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 256px;
    height: 320px;

}
.featured-list-item:not(:last-child) {
    margin-right: 30px;
}
.bottom {
    margin: 0;
    padding: 0;
    height: 38px;
    background-color: #323232;
}
.name {
    float: left;
    font-size: 18px;
    color: #ffffff;
}
.prise {
    float: right;
    height: 38px;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
}




.footer p {
    margin: 0 auto;
    margin-bottom: 0;
    padding: 0;
    height: 88px;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    background-color: #323232;
    background-size: 88px;
    position: relative;
    text-align: center;
}
.footer p:last-of-type  {
    color: #45b6a1;
}