/*my page*/
html {
    box-sizing: border-box; 
}

*, 
*::before,  
*::after {
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', 'Roboto Slab', 'Baskervville', 'Oleo Script';
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 936px;
    margin:  0 auto; 
    padding: 0;
}

/*navigation*/
.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 125px;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    color: #fdd135;
    font-family: 'Oleo Script';
    margin: 0;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    width: 485px;
    font-size: 14px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding-top: 14px;
}


.navigation-menu a {  
    text-decoration: none;
    color: #222222;
}

.navigation-menu a:hover {
    color: #fdd135;
}

/*section feature*/
.feature {
    margin: 0 auto;
    margin-bottom: 118px;
}
.feature-title {
    margin: 0;
    margin-bottom: 100px;
}

.feature-title h2 {
    font-size: 40px;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding-bottom: 18px;
}

.feature-title p {
    font-size: 16px;
    color: #777777;
    font-family: "Baskervville";
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0;
}

.feature-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}

.feature-item {
    width: 280px;
    height: 230px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background-repeat: no-repeat;
    background-position: top;
}

.feature-item h3 {
    font-size: 18px;
    letter-spacing: 0px;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.feature-item p {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.item-1 {
    background-image: url(../image/icons/Icon-Basket.png);
}

.item-2 {
    background-image: url(../image/icons/Icon-Laptop.png);
}

.item-3 {
    background-image: url(../image/icons/Icon-Locked.png);
}

/*section backround*/
.part-2 {
    background-image: url(../image/bcg.jpg);
    min-width: 100vw;
    height: auto;
}

.contact {
    margin: 0 auto;
    padding: 0;
    padding-top: 100px;
}

.contact h2 {
    font-size: 40px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-top: 106px;
    padding-bottom: 24px;
}

.contact p {
    font-size: 16px;
    color: #777777;
    font-family: "Baskervville";
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0;
    margin-bottom: 74px;
}

.modal {
    padding-bottom: 114px;
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: ;
    width: 940px;
}

.registration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 455px;
}

.comment {
    width: 455px;
    height: 210px;
}

input {
    height: 50px;
}

textarea {
    resize: none;
}

.btn-submit {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 259px;
    height: 64px;
    background-color: #fed136;
    color: #fff;
    border: none;
    border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
    font-size: 14px;
    color: #bbbbbb;
    font-family: "Montserrat";
    font-weight: 700;
    padding: 10px 10px;
}

input[type="text"]:invalid:focus,
input[type="email"]:invalid:focus {
    border-bottom: 2px solid rgb(255, 0, 0);
}

input[type="text"]:valid:focus,
input[type="email"]:valid:focus {
    border-bottom: 2px solid rgb(0, 255, 0);
}

.comment:valid:focus {
    border: 2px solid rgb(0, 255, 0);
}

.comment:invalid:focus {
    border: 2px solid rgb(255, 0, 0);
}