/*my page*/
html {
    box-sizing: border-box; 
}

*, 
*::before,  
*::after {
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', 'Roboto Slab', 'Baskervville', 'Oleo Script';
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 936px;
    margin:  0 auto; 
    padding: 0;
}

/*navigation*/
.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.navigation a {
    text-decoration: none;
    font-size: 30px;
    color: #fdd135;
    font-family: 'Oleo Script';
    margin: 0;
    padding: 0;
}

.navigation-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-menu li {
    padding: 34px;
}

.navigation-menu a {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.navigation-menu a:hover {
    color: #fdd135;
}

/*section feature*/
.feature-title {
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

.feature-title h2 {
    font-size: 40px;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}

.feature-title p {
    font-size: 16px;
    color: #777777;
    font-family: "Baskervville";
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0;
}

.feature-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.feature-item {
    width: 280px;
    height: 230px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background-repeat: no-repeat;
    background-position: top;
}

.feature-item h3 {
    font-size: 18px;
    letter-spacing: 0px;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}

.feature-item p {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-align: center;
}

.item-1 {
    background-image: url(../image/icons/Icon-Basket\ \(1\).png);
}

.item-2 {
    background-image: url(../image/icons/Group1.png);
}

.item-3 {
    background-image: url(../image/icons/Icon-Locked\ \(1\).png);
}

/*section backround*/
.part-2 {
    background-image: url(../image/bcg.jpg);
    min-width: 100vw;
    height: auto;
}

.contact {
    margin: 0 auto;
    padding: 0;
    padding-top: 100px;
}

.contact h2 {
    font-size: 40px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contact p {
    font-size: 16px;
    color: #ffffff;
    font-family: "Baskervville";
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0;
}

.modal {
    display: flex;
}

.registration {
 
}

input {
    display: block;
    justify-content: start;
}

.comment {
    display: flex;
    justify-content: end;
}

.btm-submit {
    margin: 0 auto;
}











