/*my page*/
html {
    box-sizing: border-box;
    font-family: 'Playfair Display Regular';
}

*, 
*::before,  
*::after {
    box-sizing: inherit;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    padding-top: 76px;
    padding-bottom: 70px;
}

/*navigation menu*/
.site-navigation {
    margin: 0;
    margin-bottom: 100px;
    list-style: none;
    text-align: center;
}

.site-navigation a:hover, 
.site-navigation a:focus {
    color: #03a9f4;
} 

.site-navigation a {
    text-decoration: none;
}

.site-navigation li {
    display: inline-block;
    margin-right: 100px;
}

.site-navigation li:last-child {
    margin-right: 0;
} 

.link-1 {
    font-size: 14px;
    text-align: center;
}

/*section menu*/
.section-main {
    font-size: 0;
    margin-top: 0;
    padding-bottom: 50px;
}

.article-main {
    width: 420px;
    display: inline-block;
    margin-bottom: 130px;
    margin-right: 60px;
}

.article-main:nth-child(2n) {
    margin-right: 0;
}

.article-main:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.photo {
    margin-bottom: 30px;
}

.paragraf {
    font-size: 14px;
    color: #b4ad9e;
    font-family: "Ubuntu";
    font-weight: 300;
    margin: 0;
    margin-bottom: 26px;
}

h2 {
    font-size: 30px;
    color: #626262;
    font-family: "Playfair Display";
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
}

.text {
    font-size: 14px;
    color: #626262;
    font-family: "Playfair Display";
    font-weight: 400;
    margin: 0;
}

.button {
    width: 162px;
    height: 58px;
    font-size: 16px;
    color: #626262;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-style: groove;
}

.button:hover {
    color: #29b0f5;
}