/*my page*/
html {
    box-sizing: border-box;
    font-family: 'Playfair Display Regular';
}
*, 
*::before,  
*::after {
    box-sizing: inherit;
}

.container {
    width: 900px;
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 50px;
}
header {
    margin-top: 74px;
    /*margin-bottom: 50px;*/
}

/*navigation menu*/
.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}
.site-navigation a:hover, 
.site-navigation a:focus {
    color: #29b0f5;
} 
.site-navigation li {
    display: inline-block;
    text-decoration: none;
    margin-right: 60px;
}
.site-navigation li:last-child {
    margin-right: 0;
} 
.link-1 {
    font-size: 14px;
    text-align: center;
}
.link-2 {
    font-size: 14px;
    text-align: center;
}
.link-3 {
    font-size: 14px;
    text-align: center;
}
.link-4 {
    font-size: 14px;
    text-align: center;
}


/*section menu*/
.section-main {
    font-size: 0;
    margin-top: 0;
}
.article-main {
    width: 420px;
    margin: 0;
    padding: 0;
    font-size: 0;
    display: inline-block;
    margin-top: 0;
}
.paragraf {
    font-size: 12px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 26px;
    color: #bdb7aa;
}

h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 24px;
    color: #626262;
}
.text {
    font-size: 14px;
    margin: 0;
    color: #626262;
}
.item-1 {
    margin: 0;
    margin-bottom: 106px;
    margin-right: 60px;
    padding: 0;
}
.item-2 {
    margin: 0;
    margin-bottom: 106px;
    padding: 0;
}
.item-3 {
    margin: 0;
    margin-bottom: 106px;
    margin-right: 60px;
    padding: 0;
}
.item-4 {
    margin: 0;
    margin-bottom: 106px;
    padding: 0;
}
.item-5 {
    margin: 0;
    margin-bottom: 50px;
    margin-right: 60px;
    padding: 0;
}
.item-6 {
    margin: 0;
    padding: 0; 
}
.button {
    width: 162px;
    height: 58px;
    color: #626262;
    background-color: #fff;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.button:hover {
    color: #29b0f5;
}